<% layout('boilerplate') %>




<h1>Shop smart, save big!</h1>

<p>Starting point</p>

<p>Signup to start buying</p>
<h3>Start your search here</h3>

<p>Our price best on the web</p>

<p>Look for smart items</p>
<h3>There will appear across the site</h3>

<p>Build a smart cart</p>
<h3>The more smart items you buy</h3>